<mat-dialog-content>

  <div class="card card-warning">

    <div class="card-header">

    	<h2 class="card-title mb-0">New Category</h2>
        <button type="button" class="close" mat-dialog-close >&times;</button>

    </div>

    <form  	autocomplete="off"	  [formGroup]="f" (ngSubmit)="saveCategory()"   	>

	    <div class="card-body">

            <ng-container *ngIf="!loadData">

    	    	<!-- ********************* Icon *********************  -->
                <div class="form-group"> (<a href="https://linearicons.com/free"  target="_blank">Available icons</a>)
                	<label for="InputIcon">Icon </label>

                    <div class="input-group">

                      <input
                        type="text"
                        id="InputIcon"
                        class="form-control"
                        placeholder="Icon"
                        formControlName="icon"

                    	[ngClass]="{'is-invalid': invalidField('icon')}">
                      <span class="invalid-feedback">Please provide a icon</span>
                    </div>



                </div>

            <!-- ********************* Image *********************  -->
                <div class="form-group">

                  <label for="customFile">
                    <img *ngIf="!imgTemp" src="../../../../../assets/img/categories/default/170x170.jpg" class="img-fluid">
                    <img *ngIf="imgTemp" [src]="imgTemp" class="img-fluid"  height="150" width="120">
                  </label>

                	<div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="customFile"
                      formControlName="image"
                      (change)="validateImage($event)"
                      [ngClass]="{'is-invalid': invalidField('image')}">
                <!--  image: ['', Validators.required], el .ts, nos permite utilizar el ngClass de la funcion anterior-->
                    <span class="invalid-feedback">Please provide a image</span>

                    <label class="custom-file-label" for="customFile" *ngIf="!image.value" >Choose Image</label>
                    <label class="custom-file-label" for="customFile" *ngIf="image.value">{{image.value}}</label>
                    <small class="mt-2">170px * 170px size | jpg or png format</small>
                	</div>

                </div>

                <!--*********************  Name  ********************* -->
                <div class="form-group">

                	<label for="InputName">Name</label>

                  <input
                    type="text"
                    id="InputName"
                    class="form-control"
                    placeholder="Name"
                    formControlName="name"
                          [ngClass]="{'is-invalid': invalidField('name') ||
                                                    name.invalid && name.errors?.pattern ||
                                                    name.invalid && name.errors?.category }">
                  <span class="invalid-feedback" *ngIf="name.invalid && name.errors?.required"> Please provide a name</span>
                  <span class="invalid-feedback" *ngIf="name.invalid && name.errors?.pattern"> Please write the name correctly</span>
                  <span class="invalid-feedback" *ngIf="name.invalid && name.errors?.category">The category already exists</span>
                </div>

                <!-- *********************  Url  ********************* -->
                <div class="form-group">

                	<label for="InputUrl">Url</label>

                  <input
                    type="text"
                    id="InputUrl"
                    class="form-control"
                    placeholder="Url"
                         [ngClass]="{'is-invalid': invalidField('url')}">

                  <span class="invalid-feedback"> Please provide a url</span>
                </div>

                <!-- *********************  Title List *********************  -->
                <div class="form-group">

                    <label for="InputTitleList">Title List</label>

                    <input
                      class="form-control"
                      type="text"
                      id="InputTitleList"
                      placeholder="Title list"
                      formControlName="titleList"
                    [ngClass]="{'is-invalid': invalidField('titleList')}">

                  <span class="invalid-feedback"> Please provide a titleList</span>

                </div>

            </ng-container>



        </div>

	    <div class="card-footer">

	    	<button mat-dialog-close class="btn btn-secondary">Close</button>
	    	<button  type="submit" class="btn btn-warning  float-right">Save</button>

	    </div>

    </form>


  </div>

</mat-dialog-content>
